################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/MultiSpectralMipi/MultiSpectralMipi/.vs/MultiSpectralMipi/v16
/MultiSpectralMipi/MultiSpectralMipi/DothinMultiSpec/DothinMultiSpec.aps
/MultiSpectralMipi/MultiSpectralMipi/MultiSpectralMipi/Capture/NO_5/60cm
/MultiSpectralMipi/MultiSpectralMipi/MultiSpectralMipi/x64
/MultiSpectralMipi/MultiSpectralMipi/MultiSpectralMipi/MultiSpectralMipi.aps
peephole/.vs/peephole/v16/.suo
peephole/.vs/peephole/v16/Browse.VC.db
peephole/.vs/peephole/v16/Browse.VC.db-shm
peephole/.vs/peephole/v16/Browse.VC.db-wal
peephole/.vs/peephole/v16/Browse.VC.opendb
peephole/.vs/peephole/v16/ipch/AutoPCH/20f74d31d4d9ab21/H265DEC.ipch
peephole/.vs/peephole/v16/ipch/AutoPCH/dd741ce5fae6f50c/RTSPCLIENT.ipch
peephole/Release/moc/moc_clogcat.cpp
peephole/Release/moc/moc_dataproc.cpp
peephole/Release/moc/moc_mainwindow.cpp
peephole/Release/obj/qmake/qtvars_Win32_Release.props
peephole/Release/obj/qmake/temp/.qmake.stash
peephole/Release/obj/qmake/temp/moc_predefs.h.cbt
peephole/Release/obj/qmake/temp/props.txt
peephole/Release/obj/qmake/temp/qtvars_Win32_Release.props
peephole/Release/obj/qmake/temp/qtvars.log
peephole/Release/obj/qmake/temp/qtvars.pro
peephole/Release/obj/qmake/temp/qtvars.vcxproj
peephole/Release/obj/qmake/temp/qtvars.vcxproj.filters
peephole/Release/obj/peephole.Build.CppClean.log
peephole/Release/obj/peephole.exe.recipe
peephole/Release/obj/peephole.log
peephole/Release/obj/peephole.vcxproj.FileListAbsolute.txt
peephole/Release/obj/qt_work.log
peephole/Release/obj/peephole.tlog/CL.13480.write.1.tlog
peephole/Release/obj/peephole.tlog/CL.command.1.tlog
peephole/Release/obj/peephole.tlog/CL.read.1.tlog
peephole/Release/obj/peephole.tlog/CustomBuild.command.1.tlog
peephole/Release/obj/peephole.tlog/CustomBuild.read.1.tlog
peephole/Release/obj/peephole.tlog/CustomBuild.write.1.tlog
peephole/Release/obj/peephole.tlog/link.command.1.tlog
peephole/Release/obj/peephole.tlog/link.read.1.tlog
peephole/Release/obj/peephole.tlog/link.write.1.tlog
peephole/Release/obj/peephole.tlog/moc.read.1u.tlog
peephole/Release/obj/peephole.tlog/moc.write.1u.tlog
peephole/Release/obj/peephole.tlog/peephole.lastbuildstate
peephole/Release/obj/peephole.tlog/peephole.write.1u.tlog
peephole/Release/obj/peephole.tlog/uic.read.1u.tlog
peephole/Release/obj/peephole.tlog/uic.write.1u.tlog
peephole/Release/msvc_obj/common.obj
peephole/Release/msvc_obj/CvDisply.obj
peephole/Release/msvc_obj/DataBuf.obj
peephole/Release/msvc_obj/DataBufManager.obj
peephole/Release/msvc_obj/dataproc.obj
peephole/Release/msvc_obj/DataShow.obj
peephole/Release/msvc_obj/GLDisply.obj
peephole/Release/msvc_obj/H264Dec.obj
peephole/Release/msvc_obj/H265Dec.obj
peephole/Release/msvc_obj/H265DecHw.obj
peephole/Release/msvc_obj/ImageUtils.obj
peephole/Release/msvc_obj/main.obj
peephole/Release/msvc_obj/mainwindow.obj
peephole/Release/msvc_obj/MediaPly.obj
peephole/Release/msvc_obj/moc_clogcat.obj
peephole/Release/msvc_obj/moc_dataproc.obj
peephole/Release/msvc_obj/moc_mainwindow.obj
peephole/Release/msvc_obj/OrbUtils.obj
peephole/Release/msvc_obj/RecFile.obj
peephole/Release/msvc_obj/RtspClient.obj
peephole/Release/msvc_obj/Secure.obj
peephole/Release/msvc_obj/SerialProtocol3V.obj
peephole/Release/msvc_obj/SerialProtocolK1S.obj
peephole/Release/msvc_obj/SerialProtocolOrb.obj
peephole/Release/msvc_obj/SerialProtocolOrbComm.obj
peephole/Release/msvc_obj/SerialProtocolOrbFac.obj
peephole/Release/msvc_obj/StreamPly.obj
peephole/Release/msvc_obj/ThreadProc.obj
peephole/Release/ui/ui_mainwindow.h
peephole/Release/moc_predefs.h
peephole/Release/out/peephole.exp
peephole/Release/out/peephole.lib
peephole/Release/out/peephole.exe
MultiSpectralMipi/MultiSpectralMipi/x64/Release/MultiSpectralMipi.pdb
MultiSpectralMipi/MultiSpectralMipi/x64/Release/MultiSpectralMipi.pdb
peephole/peephole.pro.user
peephole/peephole.vcxproj.user
/OrbbecStressTool/.vs/OrbbecStressTool/v16
/OrbbecStressTool/OrbbecStressTool/x64/Debug
*.user
/OrbbecStressTool/x64/Debug
/OrbbecStressTool/OrbbecStressTool/OrbbecStressTool.aps
.vscode/c_cpp_properties.json
.vscode/settings.json
/OrbbecStressTool/OrbbecStressTool/logs
/OrbbecStressTool/OrbbecStressTool/x64/Release
/OrbbecStressTool/x64
/peephole/relbug/Obj
*.idb
*.pdb
/OrbbecStressTool/OrbbecStressTool/c1t压测指令.csv
/OrbbecFaceDemoTool/.vs/OrbbecFaceDemoTool
/OrbbecFaceDemoTool/OrbbecFaceDemoTool/logs
/OrbbecFaceDemoTool/OrbbecFaceDemoTool/PicData
/OrbbecFaceDemoTool/OrbbecFaceDemoTool/x64/Debug
/OrbbecFaceDemoTool/OrbbecFaceDemoTool/imdecode.jpg
/OrbbecFaceDemoTool/OrbbecFaceDemoTool/Ir.jpg
